Hey there! ðŸ‘‹ Welcome to Day 1 of the Python Party! ðŸŽ‰

I'm Dawn, and I'll be your coding companion today. We're going to work on some fun Python challenges using pandas and data analysis.

Let's dive into today's challenge!

You are a Product Analyst on the WhatsApp team investigating group messaging dynamics. Your team wants to understand how large groups are being used and their messaging patterns. You'll leverage data to uncover insights about group participation and communication behaviors.

In [1]:
import pandas as pd
import numpy as np

In [3]:
dim_groups = pd.read_csv(r"C:\Users\abarr\Desktop\ironhack\extra\python summer party\day1\WA.csv")

In [10]:
dim_groups

    group_id created_date  total_messages  participant_count
0          1   2024-10-01             100                 25
1          2   2024-10-10             200                 55
2          3   2024-11-05             150                 40
3          4   2024-10-15             500                100
4          5   2024-12-01             120                 35
5          6   2024-10-20             300                 50
6          7   2024-10-25             400                 60
7          8   2024-11-10             220                 45
8          9   2024-10-30             450                 80
9         10   2024-12-15              80                 15
10        11   2024-10-05             600                 90
11        12   2024-10-12              50                 10

In [9]:
dim_groups.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12 entries, 0 to 11
Data columns (total 4 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   group_id           12 non-null     int64
 1   created_date       12 non-null     datetime64[ns]
 2   total_messages     12 non-null     int64
 3   participant_count  12 non-null     int64
dtypes: datetime64[ns](1), int64(3)
memory usage: 516.0 bytes

In [8]:
dim_groups['created_date'] = pd.to_datetime(dim_groups['created_date'], format='%Y-%m-%d')

In [13]:
oct = dim_groups[dim_groups['created_date'].dt.month == 10]

In [15]:
oct

    group_id created_date  total_messages  participant_count
0          1   2024-10-01             100                 25
1          2   2024-10-10             200                 55
3          4   2024-10-15             500                100
5          6   2024-10-20             300                 50
6          7   2024-10-25             400                 60
8          9   2024-10-30             450                 80
10        11   2024-10-05             600                 90
11        12   2024-10-12              50                 10

### 1 
What is the maximum number of participants among WhatsApp groups that were created in October 2024? This metric will help us understand the largest group size available.

In [ ]:
max_group = oct['participant_count'].max()

100

In [17]:
max_idx = oct['participant_count'].idxmax()

max_group_id = oct.loc[max_idx, 'group_id']

max_group_id

4

### 2 
 What is the average number of participants in WhatsApp groups that were created in October 2024? This number will indicate the typical group size and inform our group messaging feature considerations.

In [19]:
avg_group = oct['participant_count'].mean()

In [20]:
avg_group

58.75

### 3 
For WhatsApp groups with more than 50 participants that were created in October 2024, what is the average number of messages sent? This insight will help assess engagement in larger groups and support recommendations for group messaging features.

In [ ]:
df_oct = dim_groups[(dim_groups['created_date'] >= '2024-10-01') & (dim_groups['created_date'] < '2024-11-01')]
df_oct_big = df_oct[(df_oct['participant_count'] > 50)]

avg_msg = df_oct_big['total_messages'].mean()

print(f'{avg_msg}')