Hey there! ðŸ‘‹ Welcome to Day 4 of the Python Party! ðŸŽ‰

I'm Dawn, and I'll be your coding companion today. We're going to work on some fun Python challenges using pandas and data analysis.

Let's dive into today's challenge!

You are a Product Analyst on the Google Search team investigating user engagement with search result pages. The team wants to understand how different numbers of search results impact user interaction time. Your analysis will help optimize the current search results presentation strategy.

In [7]:
import pandas as pd
import numpy as np

In [10]:
user_engagement_data = pd.read_csv(r"C:\Users\abarr\Desktop\ironhack\extra\python summer party\day4\engage.csv")
user_engagement_data.head()

  user_id interaction_date  interaction_time  search_results_displayed
0  user_1       2024-07-05              35.5                        10
1  user_2       2024-07-10              22.3                         5
2  user_1       2024-07-05              35.5                        10
3  user_3       2024-08-01              48.0                        15
4  user_4       2024-08-15               NaN                        20

In [ ]:
user_engagement_data['interaction_date'] = pd.to_datetime(user_engagement_data['interaction_date'], format= '%Y-%m-%d')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60 entries, 0 to 59
Data columns (total 4 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   user_id                   60 non-null     object
 1   interaction_date          60 non-null     datetime64[ns]
 2   interaction_time          56 non-null     float64
 3   search_results_displayed  60 non-null     int64
dtypes: datetime64[ns](1), float64(1), int64(1), object(1)
memory usage: 2.0+ KB

In [21]:
user_engagement_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60 entries, 0 to 59
Data columns (total 4 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   user_id                   60 non-null     object
 1   interaction_date          60 non-null     datetime64[ns]
 2   interaction_time          56 non-null     float64
 3   search_results_displayed  60 non-null     int64
dtypes: datetime64[ns](1), float64(1), int64(1), object(1)
memory usage: 2.0+ KB

### 1 
Identify and remove any duplicate entries in the dataset to ensure data quality. How many duplicates were found and removed?

In [ ]:
count_dup = user_engagement_data.duplicated().sum()

In [25]:
user_engagement_data.drop_duplicates(inplace=True)

In [27]:
print(count_dup)

2

### 2
After dropping duplicates, aggregate the data to find the average user interaction time for each number of search results displayed per page. What are the average interaction times?

In [30]:
avg_int_time = user_engagement_data.groupby('search_results_displayed')['interaction_time'].mean()
avg_int_time

search_results_displayed
5     41.625000
10    75.400000
15    67.107143
20    59.730769
Name: interaction_time, dtype: float64

### 3
Sort the aggregated results from Q2 to determine which number of search results per page has the highest average user interaction time. What is the optimal number of search results per page?

In [37]:
sorted = avg_int_time.sort_values(ascending=False)
sorted

search_results_displayed
10    75.400000
15    67.107143
20    59.730769
5     41.625000
Name: interaction_time, dtype: float64

In [48]:
sorted.index[0]

10

In [41]:
user_engagement_data.loc[0]

user_id                                  user_1
interaction_date            2024-07-05 00:00:00
interaction_time                           35.5
search_results_displayed                     10
Name: 0, dtype: object