Hey there! ðŸ‘‹ Welcome to Day 9 of the Python Party! ðŸŽ‰

I'm Dawn, and I'll be your coding companion today. We're going to work on some fun Python challenges using pandas and data analysis.

Let's dive into today's challenge!

You are a Product Analyst on the Instagram Stories team investigating story creation patterns. The team wants to understand the distribution of stories created by users daily. You will analyze user storytelling behavior to optimize engagement strategies.

In [2]:
import pandas as pd
import numpy as np

In [3]:
stories_data = pd.read_csv(r'C:\Users\abarr\Desktop\ironhack\extra\python summer party\python_summer_party\day9\stories.csv')
stories_data.head()

    user_id  story_date  story_count
0  user_001  2024-07-03          3.0
1  user_001  2024-07-03          3.0
2  user_001  2024-08-15          5.0
3  user_001  2024-09-10          0.0
4  user_001  2024-10-05         20.0

In [23]:
stories_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 59 entries, 0 to 58
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   user_id      58 non-null     object
 1   story_date   54 non-null     object
 2   story_count  58 non-null     float64
dtypes: float64(1), object(2)
memory usage: 1.5+ KB

### 1
Take a look at the data in the story_date column. Correct any data type inconsistencies in that column.

In [22]:
stories_data['user_id'].astype('string')
#stories_data['user_id'].lower()

0     user_001
1     user_001
2     user_001
3     user_001
4     user_001
5     user_001
6     user_002
7     user_002
8     user_002
9     user_002
10    user_002
11    user_002
12    user_003
13    user_003
14    user_003
15    user_003
16        <NA>
17    USER_003
18    user_004
19    user_004
20    user_004
21    user_004
22    user_004
23    user_004
24    user_005
25    user_005
26    user_005
27    user_005
28    user_005
29    user_005
30    user_006
31    user_006
32    user_006
33    user_006
34    user_006
35    user_006
36    user_007
37    user_007
38    user_007
39    user_007
40    user_007
41    user_007
42    user_008
43    user_008
44    user_008
45    user_008
46    user_008
47    user_008
48    user_009
49    user_009
50    user_009
51    user_009
52    user_009
53    user_009
54    user_010
55    user_010
56    user_010
57    user_010
58    user_010
Name: user_id, dtype: string

In [16]:
stories_data['story_date'].isnull().sum()

5

In [ ]:
stories_data['story_date'] = pd.to_datetime(stories_data['story_date'], format= '%Y-%m-%d')