Hey there! ðŸ‘‹ Welcome to Day 8 of the Python Party! ðŸŽ‰

I'm Dawn, and I'll be your coding companion today. We're going to work on some fun Python challenges using pandas and data analysis.

Let's dive into today's challenge!

You are a Product Analyst for the Lululemon Online Store team investigating how alternative payment methods might influence sales performance. The team wants to understand the potential impact of introducing a new installment payment option. Your analysis will predict sales lift and customer conversion for the proposed payment metho

In [1]:
import pandas as pd
import numpy as np

In [3]:
fct_payments = pd.read_csv(r"C:\Users\abarr\Desktop\ironhack\extra\python summer party\day8\payments.csv")
fct_payments.head()

   customer_id  order_value payment_method  transaction_id transaction_date
0          201          250    credit_card               1       2025-03-15
1          202           95     debit_card               2       2025-03-20
2          203           75         paypal               3       2025-03-25
3          204          310    credit_card               4       2024-11-10
4          205           65         paypal               5       2024-12-05

In [6]:
fct_payments.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 5 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customer_id       50 non-null     int64
 1   order_value       50 non-null     int64
 2   payment_method    50 non-null     object
 3   transaction_id    50 non-null     int64
 4   transaction_date  50 non-null     datetime64[ns]
dtypes: datetime64[ns](1), int64(3), object(1)
memory usage: 2.1+ KB

In [5]:
fct_payments['transaction_date'] = pd.to_datetime(fct_payments['transaction_date'], format= '%Y-%m-%d')

### 1 
Between April 1st and June 30th, 2025, what is the count of transactions for each payment method? This analysis will establish the baseline distribution of how customers currently pay.

In [9]:
q2_payments = fct_payments[(fct_payments['transaction_date'] >= '2025-04-01') & (fct_payments['transaction_date'] <= '2025-06-30')]
q2_payments.head()

    customer_id  order_value payment_method  transaction_id transaction_date
10          101          275    credit_card              11       2025-04-02
11          102          285    credit_card              12       2025-04-05
12          103          280    credit_card              13       2025-04-10
13          104          290    credit_card              14       2025-04-15
14          105          270    credit_card              15       2025-04-20

In [10]:
q2_payments['payment_method'].value_counts()

payment_method
credit_card    25
debit_card      8
paypal          7
Name: count, dtype: int64

In [11]:
fct_payments[(fct_payments['transaction_date'] >= '2025-04-01') & (fct_payments['transaction_date'] <= '2025-06-30')]['payment_method'].value_counts()

payment_method
credit_card    25
debit_card      8
paypal          7
Name: count, dtype: int64

In [12]:
print(fct_payments[(fct_payments['transaction_date'] >= '2025-04-01') & (fct_payments['transaction_date'] <= '2025-06-30')]['payment_method'].value_counts())

payment_method
credit_card    25
debit_card      8
paypal          7
Name: count, dtype: int64

### 2
Between April 1st and June 30th, 2025, what is the average order value for each payment method? This metric will help us assess which payment methods are tied to higher spending levels.

In [13]:
q2_payments.groupby('payment_method')['order_value'].mean()

payment_method
credit_card    281.6
debit_card      90.0
paypal          70.0
Name: order_value, dtype: float64

In [14]:
print(fct_payments[(fct_payments['transaction_date'] >= '2025-04-01') & (fct_payments['transaction_date'] <= '2025-06-30')].groupby('payment_method')['order_value'].mean())

payment_method
credit_card    281.6
debit_card      90.0
paypal          70.0
Name: order_value, dtype: float64

### 3
Between April 1st and June 30th, 2025, what would be the predicted sales lift if a 'pay over time' option were introduced? Assume that 20% of credit card transactions during this period would switch to using the 'pay over time' option. And that for these switched transactions, the order value is expected to increase by 15% based on the average order value of all credit card transactions in that same time period.

In [16]:
q2_cards = q2_payments[q2_payments['payment_method'] == 'credit_card']
q2_cards.head()

    customer_id  order_value payment_method  transaction_id transaction_date
10          101          275    credit_card              11       2025-04-02
11          102          285    credit_card              12       2025-04-05
12          103          280    credit_card              13       2025-04-10
13          104          290    credit_card              14       2025-04-15
14          105          270    credit_card              15       2025-04-20

In [22]:
switch = q2_cards['transaction_id'].nunique() * 0.20

In [23]:
avg_card = q2_cards['order_value'].mean()
avg_card

281.6

In [24]:
uplift = avg_card * 1.15

In [25]:
total_uplift = (switch * uplift) - (switch * avg_card)
total_uplift

211.19999999999982